<div class="title-bar" id="upper-title-bar">
  <%= content_tag(:h2, h(contract.name)) %>
  
  <div class="title-bar-actions">
    <span><a href="#TODO" class="">Log time</a></span>

    <span class="meta-sep"> | </span>
    
    <span id="watcher"><a class="icon icon-fav-off" href="#TODO" onclick="">Watch</a></span>

    <span class="meta-sep"> | </span>
    
    <span><a href="#TODO">Copy</a></span>
    <span class="meta-sep"> | </span>
    
    <div class="update button-large">
      <%= link_to(l(:button_update), edit_contract_path(@project, contract)) %>
    </div>
  </div>
</div>
<%# TODO: contract messages
    <div class="error_msg">
             <p>There is $243 worth of time clocked to issues that are not assigned to any deliverables.  <span>Please update the orphaned issues.</span> </p>
             </div>
%>
