<% if User.current.admin? %>
<div class="contextual">
  <%= link_to(l(:button_delete), contract_path(@project, resource), :method => :delete, :confirm => l(:text_are_you_sure), :class => 'icon icon-del contract-delete') %>
</div>
<% end %>

<%= content_tag(:h2, h(l(:text_edit_contract_name, :name => resource.name))) %>

<%= error_messages_for 'contract' %>

<% semantic_form_for resource, :url => contract_path(@project, resource), :html => {:class => 'tabular'} do |form| %>
<%= render :partial => 'form', :object => form, :locals => {:cancel_path => contract_path(@project, resource)} %>
<% end %>

<% html_title "#{l(:text_contracts)} - #{h(l(:text_edit_contract_name, :name => resource.name))}" %>
