<% if project && project.module_enabled?(:contracts) && User.current.allowed_to?(:assign_deliverable_to_issue, project) %>
  <p>
    <%= label_tag(:deliverable_id, l(:field_deliverable)) %>
    <%= select_tag('deliverable_id',
                   content_tag('option', l(:label_no_change_option), :value => '') +
                   content_tag('option', l(:label_none), :value => 'none') +
                   grouped_deliverable_options_for_select(project)) %>
  </p>
<% end %>

