/* Modification of Redmine's tabular forms to support formtastic */
.tabular li{
margin: 0;
padding: 5px 0 8px 0;
padding-left: 180px; /*width of left column containing the label elements*/
height: 1%;
clear:left;
list-style: none;
}

html>body .tabular li {overflow:hidden;}

.tabular .inline-hints { color:#666; margin:0.5em 0 0 0; padding: 0px; display: inline; }

.deliverable_finance_table .inline-hints { 
	padding-top:4px;
}

.no-value {
	text-align:center;
	color:#999;
}
.tabular li.required label { color: #484848; }
.tabular li.required label span.required {color: #bb0000;}

.tabular li.hidden { height: 0; padding: 0; margin: 0; }
/* End tabular */

.hidden { display: none; }
a.contract-delete {color: red; }
.overage { color: #A40000; }

/* Positioning */

.striped-contract-style td.labor, .striped-contract-style td.overhead, .striped-contract-style td.fixed { text-align: center; }
.striped-contract-style td.labor div, .striped-contract-style td.overhead div, .striped-contract-style td.fixed div { text-align: right; display: inline; padding: 0 5px; width: 50%; }
.spent, .budget { text-align: right; padding: 0 5px; }

span.contract-details-label { font-weight: bold; }

/* Design */
.tabular li{
padding-left: 120px; /*width of left column containing the label elements*/
}

.tabular li.commit {
padding-left: 0px; /* Don't pad submit buttons */
}

#retainer-finances-message label { margin-left: 0px; width: 600px; text-align: left;} /* reposition the label */

.deliverable_finance_table td { padding-left: 0px; }

input.financial{
	 text-align: right;
	 width: 65px;
}

table.striped-contract-style { border-collapse: collapse; }

.error_msg{
	background: #ffd5d5;
	color: #a40000;
	border: 1px solid #a40000;
	margin: 5px 0 10px 0;
}

	.error_msg p{
		padding: 6px;
    color: #a40000;
	}
	.error_msg p a {
    color: #a40000;
    text-decoration: underline;
  }
	
.contract .gravatar{
	float: left;
	border: 1px solid #b4d1d9;
	padding: 0;
	margin-top: 10px;
	margin-left: 6px;
	margin-right: 25px;
	
}

.contract .fixed-item,
.contract .fixed-item-form {
	border-top: 1px dotted #999;
	padding-top: 15px;
}

.contract .fixed-items {
	padding-bottom: 15px;
	border-bottom: 1px dotted #999;
}

.add_fixed a{
	display: block;
	margin: 15px 0 15px 0;
	color: #2A5685;
	text-decoration:none;
}

.select_dropdown{
	width: 190px;
}

.contract table td,
.contract table th{
	padding: 2px 5px 2px 5px;
}

#deliverable-overhead ol li,
#deliverable-labor ol li{
	padding-left: 155px
}

table.deliverable_finance_table{
	width: 600px;
}

	table.deliverable_finance_table select{
		width: 145px;
	}

	table.deliverable_finance_table input{
		text-align: right;
		width: 65px;
	}

table.deliverable_finance_table,
table.deliverable_finance_table tr,
table.deliverable_finance_table tr td{
	border: 0;
}

.deliverable-finances p.inline-hints label {font-weight: normal; float: none; display: auto; margin-left: 0px; } /* An inline label so it needs to be reset from .tabular */

.deliverable-finances .fixed-item-form p.inline-hints { margin-right: 13px; }

#expand_terms{
	margin: 10px 0 10px 0;
	display: block;
}

#contract_list table{
	margin-bottom: 20px;
}

#contract_list table tbody tr td.name a{
	color: #2f8fa5;
	text-decoration: none;
}

#contract_list table tbody tr td.name a:hover{
	text-decoration: underline;
}

#contract_list table tbody tr td.priority_1{
	background: #ffaaaa;
}

.c_overview{
	background: #edf6fa;
	border: 1px solid #dcebf0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 6px;
	margin-bottom: 20px;
}

	.c_overview table{
		width: 230px;
		float: left;
		border: 0;
	}
		.c_overview table.left{
			float:left;
			width:30%;
		}
		
		.c_overview table.middle{
			margin-right:3%;
			margin-left:3%;
			width:auto;
		}
		
		.c_overview table.right{
			width:30%;
			max-width:300px;
			float:right;
		}
		
		
	
		.c_overview table td{
			border: 0;
			text-align: left;
		}
		
		.c_overview table tr:hover td,
		.c_overview table tr:hover,
		.c_overview table td:hover{
			background: transparent;
		}
		
		.c_overview a.expand{
			background: url(../../../images/arrow_collapsed.png) no-repeat;
			padding-left: 15px;
		}
		
			.c_overview a.expand.alt{
				background: url(../../../images/arrow_expanded.png) no-repeat;
			}
			
		.striped-contract-style .arrow{
			background: url(../../../images/arrow_collapsed.png) no-repeat;
			background-position: 0 6px;
			
		}
			.striped-contract-style .arrow.alt{
				background: url(../../../images/arrow_expanded.png) no-repeat;
				background-position: 0 6px;
			}
		
			.striped-contract-style .arrow span{
				padding-left: 15px;
			}
		
#contract-terms,
.deliverable_overview{
	background: #f6fbfd;
	border: 1px solid #d5dde1;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	display: none;
}

	#contract-terms table .hr{
		border-top: 1px solid #dee0e1;
	}
	
	#contract-terms table tr.padd td{
		padding-top: 10px;
	}

	#contract-terms table.info{
		width: 60%;
		background: #f6fbfd;
	}
	
	#contract-terms table.finance{
		width: 30%;
		max-width:300px;
		border-left: 1px solid #bed3dd;
		float: right;
		margin: 0;
		background: #fafdfe;
	}
	
	#contract-terms table.info td,
	#contract-terms table.finance td{
		padding: 5px;
	}
	
	#contract-terms table tr.grey td,
	.contract .grey{
		color: #808080;
	}
	
	#contract-terms span.red,
	.striped-contract-style span.red,
	#milestones span.red{
		color: #990000;
	}

.striped-contract-style h3,
#milestones h3,
#history h3{
	float: left;
	font-size: 22px;
	border: 0;
	padding-left: 0;
}

.striped-contract-style .actions,
#milestones .actions{
	float: right;
	margin-top: 20px;
}

	.striped-contract-style .actions a,
	#milestones .actions a{
		font-size: 13px;
		color: #3e3e3e;
		margin-left: 20px;
	}

table.striped-contract-style {
	width: 100%;
	margin-bottom: 20px;
}

table.striped-contract-style thead tr th{
	border-right: 1px solid #e6e6e6;
	text-align: center;
	font-weight: bold;
}

table.striped-contract-style thead tr{
	border-bottom: 1px solid #e6e6e6;
}

table.striped-contract-style th,
table.striped-contract-style td{
	padding: 6px;
}


table.striped-contract-style td, table.striped-contract-style th,
#milestones table td, #milestones table th,
#contract_list table td, #contract_list table th {
	border:1px solid #e6e6e6;
	border-style: solid;
	text-align:left;
	position: static;
	vertical-align:top;
	z-index: 99;
}

table.striped-contract-style tr.noborder td{
	border-bottom: 0;
}

table.striped-contract-style tr.ign td{
	border-top: 0;
	padding: 0;
}

table.striped-contract-style tr.ign td table td{
	padding: 2px 5px 2px 5px;
}

table.striped-contract-style tr{
	background-color: #edf6fa;
}

table.striped-contract-style tr td.white{
	background-color: #f6fafd;	
}

table.striped-contract-style tr.even,
table.striped-contract-style tr.even:hover {
	background-color:#dff3fc;
}

table.striped-contract-style tr.ign tr{
	background: transparent;
}


	.striped-contract-style div.title{
		background: #FFF;
		padding: 6px;
		border-bottom: 1px solid #e4eff4;
	}
	.striped-contract-style .title a {
		margin-right: 6px;
	}
		.striped-contract-style .title img{
			vertical-align: middle;

		}
		
	.striped-contract-style .click td{
		cursor: pointer;
	}
		
	.striped-contract-style .expanded{
		border: 1px solid #c8d0d4;
		margin: 5px;
		margin-top: 0;
		background: #f6fbfd;
	}

	.striped-contract-style .expanded fieldset{
		border: none;
	}

	.striped-contract-style .info{
		width: 45%;
		float: left;
	}
	
		.striped-contract-style .info p{
			margin: 10px 0 10px 10px;
    }
    
    .striped-contract-style .info ul{
			margin: 10px 0 10px 10px;
      padding-left: 10px;
      list-style: inherit;
		}
		.striped-contract-style .info form fieldset{
			margin-left: 10px;
			margin-bottom: 10px;
		}
	
		.striped-contract-style .info table{
			width: auto;
			margin: 0 0 0 10px;
		}
		.striped-contract-style .info table td{
			border: 0;
			padding: 2px 5px 2px 5px;
		}
		
		.striped-contract-style .finance table{
			border-left: 1px solid #e4eff4;
		}
		
		.striped-contract-style .finance table td,
		.striped-contract-style .issue_status table td{
			border: 0px;
			border-right: 1px solid #e4eff4;
			text-align: right;
			padding: 2px 5px 2px 5px;
		}
		
		.striped-contract-style .finance table td.l,
		.striped-contract-style .issue_status table td.l{
			text-align: left;
		}
		
	.striped-contract-style .finance{
		float: left;
		width: 39%;
	}
		.striped-contract-style .finance table{
			margin: 0;
			padding: 0;
		}
		
		.striped-contract-style .finance table thead th,
		.striped-contract-style .issue_status table thead th{
			background: #FFF;
			border: 0;
			font-weight: bold;
			border-bottom: 1px solid #e4eff4;
			text-align: center;
			padding: 6px;
		}
		
		.striped-contract-style .finance table thead th{
			border-right: 1px solid #e4eff4;
		}
		
		.striped-contract-style .finance table tbody tr.total td,
		#contract-terms table tbody tr.total td{
			border-top: 1px solid #bed3dd;
		}
		
	.striped-contract-style .issue_status{
		float: left;
		width: 16%;
	}
	
		.striped-contract-style .issue_status table tbody tr td{
			border-right: 0;
			color: #277d94;
			text-align: left;
		}
		.striped-contract-style .issue_status table tbody tr td.number { 
			text-align: right; 
		}


table.striped-contract-style tr.summary-row {
	 background-color: #FFF;
	 font-weight: bold;
}

	.striped-contract-style a,
	.c_overview a{
		color: #277d94;
	}
	
	#milestones .options{
		float: left;
		width: 300px;
		margin-top: 20px;
		margin-left: 10px;
	}
	
#milestones table{
	margin: 0;padding: 0;
}	
		
	#milestones table thead th{
		font-weight: bold;
		text-align: center;
	}
	
	#milestones table tr.odd{
		background: #dff3fc;
	}

	#milestones table tr.even{
		background: #edf6fa;
	}
	
	#milestones table tr.highlight td{
		border-top: 2px solid #5fccf9;
	}
	
	#milestones .c{
		text-align: center;
	}

	
#edit_contract_1 input#contract_start_date,
#edit_contract_1 input#contract_end_date{
	width: 85px;
}

	#edit_contract_1 li#contract_billable_rate_input div{
		margin-bottom: 10px;
	}

div.fixed-budget-form {padding: 5px 0;}
.deliverable-action-link { font-weight: bold; }
